# Copyright © 2023 Gruruya <gruruya.chi4c@slmails.com>
# SPDX-License-Identifier: CC0-1.0

# Ignore files with no extention:
*
!*/
!*.*
!COPYING

# Normal ignores:
*.exe
*.pdb
*.ilk
*.out
.*
!.gitignore
!.github/
nimcache/
htmldocs/
